# Project - Prediction (Live Prediction)

**Importing Libraries**

In [1]:
import pandas as pd
import numpy as np

**Importing Datasets**

In [2]:
file1 = pd.read_csv("IPL_Final_Data.csv")
file2 = pd.read_csv("IPL_Ball_By_Ball_Updated.csv")

### Data Preprocessing

In [3]:
#Giving some common names to same names
file2['BattingTeam'] = file2['BattingTeam'].str.replace('Delhi Daredevils','Delhi Capitals')
file2['BattingTeam'] = file2['BattingTeam'].str.replace('Gujarat Lions','Gujarat Titans')
file2['BattingTeam'] = file2['BattingTeam'].str.replace('Kings XI Punjab','Punjab Kings')
file2['BattingTeam'] = file2['BattingTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
file2.loc[file2['BattingTeam'].isin(['Rising Pune Supergiant','Rising Pune Supergiants']),'BattingTeam'] = 'Rising Pune Supergiants'

In [4]:
#Giving some common names to same names
file2['BowlingTeam'] = file2['BowlingTeam'].str.replace('Delhi Daredevils','Delhi Capitals')
file2['BowlingTeam'] = file2['BowlingTeam'].str.replace('Gujarat Lions','Gujarat Titans')
file2['BowlingTeam'] = file2['BowlingTeam'].str.replace('Kings XI Punjab','Punjab Kings')
file2['BowlingTeam'] = file2['BowlingTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
file2.loc[file2['BowlingTeam'].isin(['Rising Pune Supergiant','Rising Pune Supergiants']),'BowlingTeam'] = 'Rising Pune Supergiants'

In [5]:
total_score = file2.groupby(['ID','innings']).sum()['total_run'].reset_index()

In [6]:
total_score_first = total_score[total_score['innings']==1]

In [7]:
match = pd.merge(file1,total_score_first[['ID','total_run']],left_on='ID',right_on='ID',how='left')
match.rename({'total_run':'FirstInningsRuns'},axis=1,inplace=True)
match.columns

Index(['ID', 'Team1', 'Team2', 'Season', 'City', 'MatchNumber', 'TossWinner',
       'TossDecision', 'WinningTeam', 'Team1BattingAverage',
       'Team2BattingAverage', 'Team1BowlingAverage', 'Team2BowlingAverage',
       'Team1StrikeRate', 'Team2StrikeRate', 'Team1EconomyRate',
       'Team2EconomyRate', 'BattingFirst', 'BowlingFirst', 'TossWinnner',
       'Result', 'WinningPercentage_x', 'WinningPercentage_y', 'HomeGround',
       'Team1Wins', 'Team2Wins', 'Matches', 'Team1WinPercent',
       'Team2WinPercent', 'FirstInningsRuns'],
      dtype='object')

In [8]:
match = match[['ID', 'Team1', 'Team2', 'City', 'TossWinner','TossDecision',
       'WinningTeam','HomeGround','FirstInningsRuns']]

In [9]:
delivery = match.merge(file2,on='ID')

In [10]:
def replace_homeground(row):
    if row['HomeGround'] == 'Team1':
        return row['Team1']
    elif row['HomeGround'] == 'Team2':
        return row['Team2']
    else:
        return row['HomeGround']

In [11]:
delivery['HomeGround'] = delivery.apply(replace_homeground, axis=1)
delivery

,ID,Team1,Team2,City,TossWinner,TossDecision,WinningTeam,HomeGround,FirstInningsRuns,innings,...,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,1,...,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
1,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,1,...,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
2,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,1,...,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
3,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,1,...,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
4,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,1,...,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225577,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,4,0,4,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala
225578,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala
225579,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala
225580,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,4,0,4,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala
225581,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,4,0,4,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala

In [12]:
delivery_second = delivery[delivery['innings']==2]
delivery_second

,ID,Team1,Team2,City,TossWinner,TossDecision,WinningTeam,HomeGround,FirstInningsRuns,innings,...,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
120,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals
121,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals
122,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals
123,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals
124,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225577,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,4,0,4,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala
225578,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala
225579,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala
225580,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,4,0,4,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala
225581,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,4,0,4,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala

In [13]:
delivery_second['CurrentScore'] = delivery_second.groupby('ID')['total_run'].cumsum()
delivery_second

C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\3521849736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_second['CurrentScore'] = delivery_second.groupby('ID')['total_run'].cumsum()

,ID,Team1,Team2,City,TossWinner,TossDecision,WinningTeam,HomeGround,FirstInningsRuns,innings,...,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam,CurrentScore
120,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0
121,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0
122,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,1,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1
123,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1
124,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225577,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,4,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,153
225578,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,154
225579,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,154
225580,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,4,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,158
225581,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,4,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,162

In [14]:
delivery_second['RunsLeft'] = delivery_second['FirstInningsRuns'] + 1 - delivery_second['CurrentScore'] 
delivery_second

C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\2448613132.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_second['RunsLeft'] = delivery_second['FirstInningsRuns'] + 1 - delivery_second['CurrentScore']

,ID,Team1,Team2,City,TossWinner,TossDecision,WinningTeam,HomeGround,FirstInningsRuns,innings,...,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam,CurrentScore,RunsLeft
120,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131
121,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131
122,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,1,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130
123,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130
124,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225577,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,4,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,153,9
225578,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,154,8
225579,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,154,8
225580,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,4,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,158,4
225581,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,4,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,162,0

In [15]:
delivery_second['BallsLeft'] = 120 - (delivery_second['overs']*6 + delivery_second['ballnumber'])
delivery_second

C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\1921371383.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_second['BallsLeft'] = 120 - (delivery_second['overs']*6 + delivery_second['ballnumber'])

,ID,Team1,Team2,City,TossWinner,TossDecision,WinningTeam,HomeGround,FirstInningsRuns,innings,...,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam,CurrentScore,RunsLeft,BallsLeft
120,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131,119
121,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131,118
122,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,117
123,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,116
124,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225577,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,153,9,11
225578,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,154,8,10
225579,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,154,8,9
225580,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,158,4,8
225581,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,162,0,7

In [16]:
delivery_second['isWicketDelivery'] = delivery_second['isWicketDelivery'].astype(int)
wickets = delivery_second.groupby('ID')['isWicketDelivery'].cumsum().values
delivery_second['WicketsLeft'] = 10 - wickets
delivery_second

C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\83807220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_second['isWicketDelivery'] = delivery_second['isWicketDelivery'].astype(int)
C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\83807220.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_second['WicketsLeft'] = 10 - wickets

,ID,Team1,Team2,City,TossWinner,TossDecision,WinningTeam,HomeGround,FirstInningsRuns,innings,...,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam,CurrentScore,RunsLeft,BallsLeft,WicketsLeft
120,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131,119,10
121,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131,118,10
122,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,117,10
123,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,116,10
124,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225577,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,153,9,11,6
225578,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,154,8,10,6
225579,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,154,8,9,6
225580,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,158,4,8,6
225581,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,162,0,7,6

In [17]:
delivery_second['CurrentRunRate'] = (delivery_second['CurrentScore']*6)/(120-delivery_second['BallsLeft'])
delivery_second

C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\1756964868.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_second['CurrentRunRate'] = (delivery_second['CurrentScore']*6)/(120-delivery_second['BallsLeft'])

,ID,Team1,Team2,City,TossWinner,TossDecision,WinningTeam,HomeGround,FirstInningsRuns,innings,...,player_out,kind,fielders_involved,BattingTeam,BowlingTeam,CurrentScore,RunsLeft,BallsLeft,WicketsLeft,CurrentRunRate
120,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131,119,10,0.000000
121,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131,118,10,0.000000
122,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,117,10,2.000000
123,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,116,10,1.500000
124,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,115,10,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225577,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,153,9,11,6,8.422018
225578,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,154,8,10,6,8.400000
225579,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,154,8,9,6,8.324324
225580,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,158,4,8,6,8.464286
225581,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,162,0,7,6,8.601770

In [18]:
delivery_second['RequiredRunRate'] = (delivery_second['RunsLeft']*6)/delivery_second['BallsLeft']
delivery_second

C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\2917764499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_second['RequiredRunRate'] = (delivery_second['RunsLeft']*6)/delivery_second['BallsLeft']

,ID,Team1,Team2,City,TossWinner,TossDecision,WinningTeam,HomeGround,FirstInningsRuns,innings,...,kind,fielders_involved,BattingTeam,BowlingTeam,CurrentScore,RunsLeft,BallsLeft,WicketsLeft,CurrentRunRate,RequiredRunRate
120,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131,119,10,0.000000,6.605042
121,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,NaN,Gujarat Titans,Rajasthan Royals,0,131,118,10,0.000000,6.661017
122,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,117,10,2.000000,6.666667
123,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,116,10,1.500000,6.724138
124,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,NaN,Gujarat Titans,Rajasthan Royals,1,130,115,10,1.200000,6.782609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225577,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,153,9,11,6,8.422018,4.909091
225578,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,154,8,10,6,8.400000,4.800000
225579,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,154,8,9,6,8.324324,5.333333
225580,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,158,4,8,6,8.464286,3.000000
225581,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,162,0,7,6,8.601770,0.000000

In [19]:
def result(row):
    return 1 if row['BattingTeam'] == row['WinningTeam'] else 0

In [20]:
delivery_second['Result'] = delivery_second.apply(result,axis=1)
delivery_second

C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\3697999091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_second['Result'] = delivery_second.apply(result,axis=1)

,ID,Team1,Team2,City,TossWinner,TossDecision,WinningTeam,HomeGround,FirstInningsRuns,innings,...,fielders_involved,BattingTeam,BowlingTeam,CurrentScore,RunsLeft,BallsLeft,WicketsLeft,CurrentRunRate,RequiredRunRate,Result
120,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,Gujarat Titans,Rajasthan Royals,0,131,119,10,0.000000,6.605042,1
121,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,Gujarat Titans,Rajasthan Royals,0,131,118,10,0.000000,6.661017,1
122,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,Gujarat Titans,Rajasthan Royals,1,130,117,10,2.000000,6.666667,1
123,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,Gujarat Titans,Rajasthan Royals,1,130,116,10,1.500000,6.724138,1
124,1312200,Rajasthan Royals,Gujarat Titans,Ahmedabad,Rajasthan Royals,bat,Gujarat Titans,Gujarat Titans,130,2,...,NaN,Gujarat Titans,Rajasthan Royals,1,130,115,10,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225577,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,153,9,11,6,8.422018,4.909091,1
225578,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,154,8,10,6,8.400000,4.800000,1
225579,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,154,8,9,6,8.324324,5.333333,1
225580,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,158,4,8,6,8.464286,3.000000,1
225581,501200,Kochi Tuskers Kerala,Royal Challengers Bangalore,Kochi,Kochi Tuskers Kerala,bat,Royal Challengers Bangalore,Neutral,161,2,...,NaN,Royal Challengers Bangalore,Kochi Tuskers Kerala,162,0,7,6,8.601770,0.000000,1

In [21]:
delivery_second.columns

Index(['ID', 'Team1', 'Team2', 'City', 'TossWinner', 'TossDecision',
       'WinningTeam', 'HomeGround', 'FirstInningsRuns', 'innings', 'overs',
       'ballnumber', 'batter', 'bowler', 'non-striker', 'extra_type',
       'batsman_run', 'extras_run', 'total_run', 'non_boundary',
       'isWicketDelivery', 'player_out', 'kind', 'fielders_involved',
       'BattingTeam', 'BowlingTeam', 'CurrentScore', 'RunsLeft', 'BallsLeft',
       'WicketsLeft', 'CurrentRunRate', 'RequiredRunRate', 'Result'],
      dtype='object')

In [22]:
final_second = delivery_second[['City','HomeGround','BattingTeam','BowlingTeam','FirstInningsRuns', 'CurrentScore', 'RunsLeft',
       'BallsLeft', 'WicketsLeft', 'CurrentRunRate',
       'RequiredRunRate', 'Result']]
final_second

,City,HomeGround,BattingTeam,BowlingTeam,FirstInningsRuns,CurrentScore,RunsLeft,BallsLeft,WicketsLeft,CurrentRunRate,RequiredRunRate,Result
120,Ahmedabad,Gujarat Titans,Gujarat Titans,Rajasthan Royals,130,0,131,119,10,0.000000,6.605042,1
121,Ahmedabad,Gujarat Titans,Gujarat Titans,Rajasthan Royals,130,0,131,118,10,0.000000,6.661017,1
122,Ahmedabad,Gujarat Titans,Gujarat Titans,Rajasthan Royals,130,1,130,117,10,2.000000,6.666667,1
123,Ahmedabad,Gujarat Titans,Gujarat Titans,Rajasthan Royals,130,1,130,116,10,1.500000,6.724138,1
124,Ahmedabad,Gujarat Titans,Gujarat Titans,Rajasthan Royals,130,1,130,115,10,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...,...,...
225577,Kochi,Neutral,Royal Challengers Bangalore,Kochi Tuskers Kerala,161,153,9,11,6,8.422018,4.909091,1
225578,Kochi,Neutral,Royal Challengers Bangalore,Kochi Tuskers Kerala,161,154,8,10,6,8.400000,4.800000,1
225579,Kochi,Neutral,Royal Challengers Bangalore,Kochi Tuskers Kerala,161,154,8,9,6,8.324324,5.333333,1
225580,Kochi,Neutral,Royal Challengers Bangalore,Kochi Tuskers Kerala,161,158,4,8,6,8.464286,3.000000,1
225581,Kochi,Neutral,Royal Challengers Bangalore,Kochi Tuskers Kerala,161,162,0,7,6,8.601770,0.000000,1

In [23]:
def correct_homeground(row):
    if row['HomeGround'] == row['BattingTeam']:
        return 'Batting'
    elif row['HomeGround'] == row['BowlingTeam']:
        return 'Bowling'
    else:
        return 'Neutral'

In [24]:
final_second['HomeGround'] = final_second.apply(correct_homeground, axis=1)
final_second

C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\1669695788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_second['HomeGround'] = final_second.apply(correct_homeground, axis=1)

,City,HomeGround,BattingTeam,BowlingTeam,FirstInningsRuns,CurrentScore,RunsLeft,BallsLeft,WicketsLeft,CurrentRunRate,RequiredRunRate,Result
120,Ahmedabad,Batting,Gujarat Titans,Rajasthan Royals,130,0,131,119,10,0.000000,6.605042,1
121,Ahmedabad,Batting,Gujarat Titans,Rajasthan Royals,130,0,131,118,10,0.000000,6.661017,1
122,Ahmedabad,Batting,Gujarat Titans,Rajasthan Royals,130,1,130,117,10,2.000000,6.666667,1
123,Ahmedabad,Batting,Gujarat Titans,Rajasthan Royals,130,1,130,116,10,1.500000,6.724138,1
124,Ahmedabad,Batting,Gujarat Titans,Rajasthan Royals,130,1,130,115,10,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...,...,...
225577,Kochi,Neutral,Royal Challengers Bangalore,Kochi Tuskers Kerala,161,153,9,11,6,8.422018,4.909091,1
225578,Kochi,Neutral,Royal Challengers Bangalore,Kochi Tuskers Kerala,161,154,8,10,6,8.400000,4.800000,1
225579,Kochi,Neutral,Royal Challengers Bangalore,Kochi Tuskers Kerala,161,154,8,9,6,8.324324,5.333333,1
225580,Kochi,Neutral,Royal Challengers Bangalore,Kochi Tuskers Kerala,161,158,4,8,6,8.464286,3.000000,1
225581,Kochi,Neutral,Royal Challengers Bangalore,Kochi Tuskers Kerala,161,162,0,7,6,8.601770,0.000000,1

In [25]:
final_second.replace([np.inf, -np.inf], np.nan, inplace=True)

C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\2713449780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_second.replace([np.inf, -np.inf], np.nan, inplace=True)

In [26]:
final_second.dropna(inplace=True)

C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\1044553419.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_second.dropna(inplace=True)

In [27]:
columns = final_second.columns.tolist()
if 'Result' in columns:
    columns.remove('Result')
columns

['City',
 'HomeGround',
 'BattingTeam',
 'BowlingTeam',
 'FirstInningsRuns',
 'CurrentScore',
 'RunsLeft',
 'BallsLeft',
 'WicketsLeft',
 'CurrentRunRate',
 'RequiredRunRate']

### Label Encoding

In [28]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

encode_columns = ['City','BattingTeam','BowlingTeam','HomeGround']
                  
for column in encode_columns:
                  final_second[column] = label_encoder.fit_transform(final_second[column])

final_second

C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\3316840583.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_second[column] = label_encoder.fit_transform(final_second[column])
C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\3316840583.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_second[column] = label_encoder.fit_transform(final_second[column])
C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\3316840583.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_second[column] = label_encoder.fit_transform(final_second[column])
C:\Users\Shyam Mashru\AppData\Local\Temp\ipykernel_24604\3316840583.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_second[column] = label_encoder.fit_transform(final_second[column])

,City,HomeGround,BattingTeam,BowlingTeam,FirstInningsRuns,CurrentScore,RunsLeft,BallsLeft,WicketsLeft,CurrentRunRate,RequiredRunRate,Result
120,1,0,2,9,130,0,131,119,10,0.000000,6.605042,1
121,1,0,2,9,130,0,131,118,10,0.000000,6.661017,1
122,1,0,2,9,130,1,130,117,10,2.000000,6.666667,1
123,1,0,2,9,130,1,130,116,10,1.500000,6.724138,1
124,1,0,2,9,130,1,130,115,10,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...,...,...
225577,20,2,11,3,161,153,9,11,6,8.422018,4.909091,1
225578,20,2,11,3,161,154,8,10,6,8.400000,4.800000,1
225579,20,2,11,3,161,154,8,9,6,8.324324,5.333333,1
225580,20,2,11,3,161,158,4,8,6,8.464286,3.000000,1
225581,20,2,11,3,161,162,0,7,6,8.601770,0.000000,1

### Train - Test Split

In [29]:
X = final_second.drop(columns=['Result'])
y = final_second['Result']

In [30]:
 from sklearn.model_selection import train_test_split
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state=500)

### Model Building

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

In [32]:
model = LogisticRegression()
#model = RandomForestClassifier()
#model = DecisionTreeClassifier(random_state=42)
#model = SVC(kernel='linear', C=1)
#model = XGBClassifier()
#model = GaussianNB()
#model = SVC(kernel='rbf', random_state=0)
#model = KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)

### Model Fitting

In [33]:
model.fit(X_train,y_train)

C:\Users\Shyam Mashru\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

### Prediction

In [34]:
y_pred = model.predict(X_test)

### Model Evaluation

In [35]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(y_test,y_pred)

0.7798659592292656

In [36]:
conf_matrix = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

In [37]:
print('Confusion Matrix:')
print(conf_matrix)
print('Classification Report:')
print(classification_rep)

Confusion Matrix:
[[12297  4393]
 [ 3490 15630]]
Classification Report:
              precision    recall  f1-score   support

           0       0.78      0.74      0.76     16690
           1       0.78      0.82      0.80     19120

    accuracy                           0.78     35810
   macro avg       0.78      0.78      0.78     35810
weighted avg       0.78      0.78      0.78     35810

### Store Model

In [38]:
import pickle
pickle.dump(model,open('pipe2.pkl','wb'))